body {
  width: 350px;
  background-color: #dfd9d99d !important;
  padding: 10px;
  text-align: center;
  transition: background-color 0.75s ease;
  font-size: 13px;

  font-family: "Helvetica Neue", "Lucida Grande", sans-serif;
}

#authenticate, #authenticated, #hook-repo {
  display:  none;
}